# keep this sorted alphabetically
*.bak
*.bin
*.cpuprofile
*.heapsnapshot
*.img
*.nedb
*.tgz
/*.yml
/.*
/.mocharc.jsonc
/ae_options.json
/build
/build_scripts
/coverage
/example
/lambda_scripts
/mocha-reporter.js
/package
/pe
/scripts/
/static
/test
/test/*
/variants
/sonar-project.properties
__*/
coverage.txt
doc
documentation
dropbox-deployment.*
errlog.txt
fst_tcp.ini
gulpfile.js
index-backup.*
manual-testing
npm-debug.log
npm-shrinkwrap.json
pack.log
package-lock.json
PRODUCT-HISTORY.md
publish_error.txt
registry.bak
registry.ini
RELEASE.md
skipped-variants.txt
smc_app_size.txt
systemStatus_*.hist
systemStatus_*.json
test-results.xml
webSrc
working-variants.txt
